@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

* {
  transition: all 0.2s ease;
}
input:focus,
button:focus {
  outline: none;
  box-shadow: none;
}
/* Hide number input spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 2px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #7c3aed3f, #ec489a70);
  border-radius: 10px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #6c28d936, #db277828);
}
/* Hide the text inside the editor tabs */
.tui-editor-tab.active {
  color: transparent !important;
  background-color: transparent !important;
}

/* Add watermark to the editor area */
.tui-editor-contents {
  position: relative;
}

.tui-editor-contents:before {
  content: "Write here";
  position: absolute;
  left: 10px;
  top: 10px;
  color: #ccc;
  font-size: 16px;
  pointer-events: none; /* So that you can still type over it */
}
